/* =============== DRAGGABLE ELEMENTS ==================== */
.monaco-workbench:not(.fullscreen) .activitybar,
.monaco-workbench:not(.fullscreen) .statusbar,
.monaco-workbench:not(.fullscreen) .tabs-container,
.monaco-workbench:not(.fullscreen) .sidebar .composite.title {
  -webkit-app-region: drag;
}

.monaco-workbench:not(.fullscreen) .activitybar .content .monaco-action-bar,
.monaco-workbench:not(.fullscreen) .statusbar .statusbar-item,
.monaco-workbench:not(.fullscreen) .tabs-container .tab,
.monaco-workbench:not(.fullscreen) .sidebar .composite.title .title .title-actions .action-label {
  -webkit-app-region: no-drag;
}

/* =============== SCROLLBARS ==================== */
.scrollbar.vertical .slider {
  cursor: pointer;
  position: absolute !important;
  right: 5px !important;
  width: 4px !important;
  background: #696c78 !important;
  left: auto !important;
  border-radius: 3px;
}

.scrollbar.horizontal .slider {
  position: absolute !important;
  bottom: 5px !important;
  height: 4px !important;
  background: #343a51 !important;
  top: auto !important;
  border-radius: 3px;
}

.decorationsOverviewRuler {
  display: none !important;
}

/* ================ FONT FAMILY =================== */
.monaco-text-button,
.search-label,
.statusbar,
.label-name,
.token-inspect-widget {
  font-family: "Lexend" !important;
}

/* ========= COMMAND PALETTE ============ */
.quick-input-widget {
  padding: 0 !important;
  border-radius: 10px !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 0 0 100vw rgba(0, 0, 0, 0.309) !important;
}

.quick-input-widget .monaco-inputbox {
  padding: 10px !important;
  border-radius: 10px !important;
}

/* ========= UI ============ */
.title-actions {
  display: none !important;
}

.title.tabs .editor-actions .actions-container {
  display: none !important;
}

#workbench\.parts\.sidebar .composite.title {
  display: none !important;
}

.tabs-container {
  padding: 5px 0 !important;
}

.sidebar {
  height: 100% !important;
}

.sidebar .content {
  height: 100% !important;
  padding: 8px 0 !important;
}

.sidebar .content .split-view-view {
  height: 100% !important;
}

.codicon-settings-edit {
  display: none !important;
}
